/*###########################################################################
# Paragrahps
#############################################################################*/

p {
  font-size: 1rem;
  margin-top: 0;

  @media(min-width: $breakpoint-large) {
  	font-size: 1.125rem;
  }
}

p.small {
}

p.big {
}
