/*###########################################################################
# ELEMENTS COLLECTION
#############################################################################*/

.elements-wrapper {
  background-color: #fff;
  padding: 50px 30px;

  .elements {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    display: grid;

    img {
      max-width: 100%;
    }

    @media(min-width: $breakpoint-medium) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media(min-width: $breakpoint-large) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
