/*###########################################################################
# Layout Breakpoints
#############################################################################*/

$breakpoint-small:    481px;
$breakpoint-medium:   641px;
$breakpoint-large:    1025px;
$breakpoint-xlarge:   1200px;
$breakpoint-xxlarge:  1441px;
$breakpoint-xxxlarge: 1921px;

